.tower-container {
	position: relative;
	width: 800px;
	height: 280px;
	background-color: white;
	border: #3d9952 solid 3px;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 20px;
	z-index: 20;
	user-select: none;
	-webkit-user-select: none;
}

.tower-banner {
	display: none;
	position: absolute;
	top: 50px;
	left: 200px;
	height: 100px;
	width: 400px;
	font-size: 12px;
	background-color: #3d9952;
	color: white;
	text-align: center;
	padding: 20px;
	border-radius: 20px;
	border: solid 1px #c6f1a2;
	z-index: 24;
}
.tower-banner h1 {
	font-size: 30px;
}

.tower-peg {
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	width: 250px;
	height: 280px;
	background-image:
		-webkit-linear-gradient(left, transparent 52px, #53c66d 52px, #c6f1a2 72px, #53c66d 84px, transparent 88px);
	background-image:
		linear-gradient(left, transparent 52px, #53c66d 52px, #c6f1a2 72px, #53c66d 84px, transparent 88px);
}

.tower-peg-top {
	height: 30px;
	width: 60px;
	position: absolute;
	top: 0px;
	left: 50px;

	background-color: white;
	background-image:
		-webkit-radial-gradient(20px bottom, 20px 13px, #c6f1a2 0%, #53c66d 88%, rgba(0, 0, 0, 0) 88%);
	background-image:
		radial-gradient(20px 13px at 20px bottom, #c6f1a2 0%, #53c66d 88%, rgba(0, 0, 0, 0) 88%);;
}

.tower-discs {
	list-style-type: none;
	margin: 0px; padding: 0px;
	position: absolute;
	bottom: 0px;
	width: 230px;
	text-align: center;
	z-index: 23;
	cursor: hand;
}
.tower-disc {
	display: block;
	color: white;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	text-shadow: -1px -1px rgba(0,0,0,0.3);
	background-color: #4bd321;
	background-image: -webkit-linear-gradient(top, #c6f1a2 22%, #3d9952 88%);
	background-image: -moz-linear-gradient(top, #c6f1a2 22%, #3d9952 88%);
	background-image: -ms-linear-gradient(top, #c6f1a2 22%, #3d9952 88%);
	background-image: -o-linear-gradient(top, #c6f1a2 22%, #3d9952 88%);
	background-image: linear-gradient(to bottom, #c6f1a2 22%, #3d9952 88%);
	border: solid 1px #3d9952;
	border-radius: 15px;
	margin: 10px;
	height: 25px;
}